body {
cursor : default;
font-size : 16px;
line-height : 22px;
font-family:Georgia, "Times New Roman", Times, serif;
color:#333;
}

#tbl
{
border: 3px solid #6fb2e6;
-moz-border-bottom-colors: #06 #106 #82 #151 #134 #aaa #bbb #ccc;
-moz-border-top-colors:    #06 #106 #82 #151 #134 #aaa #bbb #ccc;
-moz-border-left-colors:   #06 #106 #82 #151 #134 #aaa #bbb #ccc;
-moz-border-right-colors:  #06 #106 #82 #151 #134 #aaa #bbb #ccc;
padding: 5px 5px 5px 15px;


/*font-family:calibri;
font-size:18px;
*/

margin: 0 20% 0 20%;
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
-moz-border-radius:5px 5px 0px 0px;
border-top-left-radius:10px;
border-top-right-radius:10px;
	
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
-moz-border-radius: 10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}

#btn 
{
text-shadow: 1px 1px 0px #b3e8f9;
color: #3c7389;
border: 1px solid #4bb6da;	
background: #5ccded; /*fallback for non-CSS3 browsers*/
background: -webkit-gradient(linear, 0 0, 0 100%, from(#7ad6fc) to(#5ccded)); /*old webkit*/
background: -webkit-linear-gradient(#7ad6fc, #5ccded); /*new webkit*/
background: -moz-linear-gradient(#7ad6fc, #5ccded); /*gecko*/
background: -ms-linear-gradient(#7ad6fc, #5ccded); /*IE10*/
background: -o-linear-gradient(#7ad6fc, #5ccded); /*opera 11.10+*/
background: linear-gradient(#7ad6fc, #5ccded); /*future CSS3 browsers*/
-pie-background: linear-gradient(#7ad6fc, #5ccded); /*PIE*/
font-size: 14px;
font-weight:bold;
padding: 7px 18px;
cursor:pointer;	
line-height:16px;
display:inline-block;
margin:0 15px 30px 15px;	
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;	
box-shadow: #e3e3e3 0 1px 1px;	
-moz-box-shadow:0px 1px 1px rgba(000,000,000,0.1),
inset 0px 1px 1px rgba(255,255,255,0.7);
-webkit-box-shadow:0px 1px 1px rgba(000,000,000,0.1),inset 0px 1px 1px rgba(255,255,255,0.7);	
behavior:url(PIE.htc);	
}


div#txt{
margin-left:50px;
text-align:justify;
font-size:16px;
line-height:30px;
float:left;
width:500px;
}

div#addr{
text-align:justify;
font-size:18px;
line-height:30px;
float: left;
}

#menu2{
width:100%;
float:center;
padding:0 0 0 0;
background-color:#999;
}


#menu{
width:100%;
float:left;
padding:0 0 0 0;
background-color:#999;
}
#menu ul{
list-style:none;padding:0px;margin:0px;display:block;
}
#menu ul li{
list-style:none;display:inline;float:left;width:auto;padding:0px;font-size:12px;
}
#menu ul li a{
float:left;text-decoration:none;padding:0px 10px 0 10px; margin:0px 4px 0 4px;color:#333;text-align:center; height:31px; line-height:31px; 
}
#menu ul li a:hover{
background-color:#999;color:#FFF;
}
